[% PROCESS header %]
    <div id="1" class="tooltip2" style="width: 400px;">
     <div class="content">
       <div class="head">Select comparison mode:</div>
       <ul>
	 <li>Compare one covariance model against all<br> 
	   covariance models in Rfam</li>
	 <li>Compare multiple covariance models with<br>
	   each other</li> 
       </ul>
        --&gt; For more information see Help 
     </div>
   </div>

   <div id="2" class="tooltip2" style="width: 300px;">
     <div class="content">
       <div class="head">Upload a file containing<br> multiple alignments or covariance models:</div>
       <ul>
	 <li>Multiple alignment - stockholm format</li>
	 <li>Covariance model - infernal format</li> 
       </ul>
       maximal modelnumber: 10<br>
       maximal filesize: 1 megabyte<br>
        --&gt; For more information see Help 
     </div>
   </div>

   <div id="3" class="tooltip2" style="width:300px;">
     <div class="content">
       <div class="head">Upload a file containing<br> multiple alignments or covariance models:</div>
	   <ul>
	     <li>Multiple alignment - stockholm format</li>
	     <li>Covariance model - infernal format</li>
	   </ul>
	   minimal modelnumber:2 <br>
	   maximal modelnumber: 10 <br>
           maximal filesize: 1 megabyte<br>
	   --&gt; For more information see Help 
     </div>
   </div>

   <div style="text-align:center">
     <h3>= Compare =</h3>
     <table id="input_table" class="borders" style="width:95%" >
    <tr>
      <td id="step1_title"><u>1. Input:</u></td>
      <td id="step2_title"><u>2. Confirm & Submit:</u></td>
    </tr>
    <tr>		
      <td id="step1_content" >	
	<form action="/cgi-bin/cmcws.cgi" method="post" target="Daten">
	  <p>Select type of comparison: <a href="#" onmouseover="XBT(this, {id:'1'})"><img style="vertical-align:middle;border:0;" src="pictures/info.png" alt="info"></a></p>
	  <p><select id="select_operation"  onchange="step1_operation(this)">
	      <option>Please select</option>
	      <option>covariance model vs Rfam</option>
	      <option>covariance model vs covariance model</option>
	    </select>
	  </p>
	</form>
      </td>	
      <td id="step2_content" style="vertical-align:top">
      </td>
      
    </tr>	
    <tr>
      <td id="step1_2_content" style="vertical-align:top">
      </td>
      <td id="step2_2_content" style="vertical-align:top">

      </td>
    </tr>
    <tr>
      <td id="step1_3_content" style="vertical-align:top">
	<div id="error_message"> </div>
      </td>
      <td id="step2_3_content" style="vertical-align:top">

      </td>
    </tr>
     </table>
     <table style="border-width:0">
       <tr>
	 <td>
	   <div style="text-align:left">
	     <form>
               <p><input type="button" name="sample_button" value="cm vs Rfam - demo" onclick="sample_mode1()"><input type="button" name="sample_button" value="cm vs cm - demo" onclick="sample_mode2()"></p>
             </form>
	   </div>
	 </td>
       </tr>
     </table>
   </div>
     [% INCLUDE footer %]
 
