[% PROCESS template/header %]
<div id="1" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Matrix of link scores:</div>
    The matrix considers all submitted models.<br>
    Color-code emphasizes high scoring pairs:
    <ul>
      <li>link score &gt;20: red </li>
      <li>link score &lt;20 &gt;10: orange</li>
      <li>link score &lt;10 &gt;5: yellow </li>
      <li>link score &lt;5 &gt;0: white</li>
      <li>link score &lt;0: blue</li>
    </ul>
    --&gt; For more information see Help 
  </div>
</div>
 
<div id="2" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Covariance model graph</div>
    The graph contains the models from the list below<br>
    and shows their link scores. If the list is manipulated<br>
    with the filtering options, this changes the graph.<br>
    --&gt; For more information see Help 
  </div>
</div>

<div id="3" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Filtering:</div>
    The list of models below can be filtered or expanded
    with these options.
    <ul>
      <li>Number of hits displayed even<br>
	if more would fulfill the other criteria.<br>
	Only numbers allowed. Default is 10.</li>
      <li>Cutoff sets the minimal linkscore for hits
      to be displayed. Only numbers allowed. Not set per default (none).</li>
      <li>Model name, if set, shows only hits containing
      this string. Only numbers or letters allowed.
      Not set per default (none).</li>
    </ul>
    --&gt; For more information see Help 
  </div>
</div>


<div id="4" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Detailed Comparison:</div>
    Submits the selected models and the input model<br>
    for comparison with each other<br>
    --&gt; For more information see Help 
  </div>
</div>

<div id="5" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Result Table:</div>
    Sort the list by clicking the header of the column to be sorted.<br>
    Magnifing glasses  link to a detailed view of each comparison.<br>
    CMCompare computes a score for the input model (Input score) and one
    for the Rfam model (Rfam score). The lower value is the Link score.<br>
    <br>   
   Optionally a set of interesting models can be compared versus each other by selecting the checkboxes at the beginning of those lines
   and clicking <em>cm vs cm</em>.<br>
    --&gt; For more information see Help 
  </div>
</div>

<div id="6" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Result Table:</div>
    Sort the list by clicking the header of the column to be sorted.<br>
    Magnifing glasses  link to a detailed view of each comparison.<br>
    CMCompare computes a score for Model 1 (Model 1 score) and one
    for Model 2 (Model 2 score). The lower value is the Link score.<br>
    <br>   
    --&gt; For more information see Help 
  </div>
</div>


<div style="text-align:left">
  <h2>[% output_title %]</h2>
  <form name="filter" action="[% serveradress %]" method="get">
    <input id="page"  value="2" name="page" type="hidden">
    <input id="mode"  value="[% mode %]" name="mode" type="hidden">
    <input id="tempdir"  value="[% tempdir %]" name="tempdir" type="hidden">
    <input id="result_number"  value="[% result_number %]" name="result_number" type="hidden">
    <table class="resources">
      [% INSERT $result_matrix %]
      <tr>
	<td style="text-align:left;">Covariance model graph: <a href="#" onmouseover="XBT(this, {id:'2'})"><img style="vertical-align:middle;border:solid 0px #000;" src="[% staticcontentaddress %]/pictures/info.png" alt="Info"></a></td>
	<td colspan="2"> </td>
	<td> </td>
      </tr>
      <tr>
	<td colspan="4" style="text-align:left;border:solid 1px #000;">
	  <table style="display:none;">
	    <tr><td><embed src="[% cm_map %]" alt="cm_map" style="text-align:left;border:0"></td></tr>
	  </table>
	  <p class="demo5 expIco">Show</p>
	</td>
      </tr>
      <tr>
	<td style="text-align:left;">Downloads: </td>
	<td colspan="3"></td>
      </tr>
      <tr>
	<td colspan="2" style="text-align:left;border:solid 1px #000;">-all comparisons:<a href="[% csv_file %]">.csv-file</a>,<a href="[% cm_output_file %]">.output-file</a> [% PROCESS $cmvs_field %]<br>
	  -filtered comparisons:<a href="[% csv_filtered_file %]">.csv-file</a><br>
	  -covariance model graph:<a href="[% dot_file %]">.dot-file</a>,<a href="[% svg_file %]">.svg-file</a>
	</td>  
	<td colspan="2"> </td>
      </tr>
      <tr>
	<td style="text-align:left;">Filtering: <a href="#" onmouseover="XBT(this, {id:'3'})"><img style="vertical-align:middle;border:solid 0px #000;" src="[% staticcontentaddress %]/pictures/info.png" alt="Info"></a> </td>
	<td colspan="3"  style="border:solid 1px #FFF;"></td>
      </tr>
      <tr>
	[% PROCESS $filter_fields %]
      </tr>
    </table>
  </form>
  [% PROCESS $result_list_form_and_table %]
  <br>
</div>

[% INCLUDE template/footer %]
