[% PROCESS header %]
<div id="1" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Matrix of link scores:</div>
    Color-code emphasizes high scoring pairs:
    <ul>
      <li>link score &gt;20: red </li>
      <li>link score &lt;20 &gt;10: orange</li>
      <li>link score &lt;10 &gt;5: yellow <li>
      <li>link score &lt;5 &gt;0: white<li>
      <li>link score &lt;0: blue<li>
    </ul>
    --&gt; For more information see Help 
  </div>
</div>
 
<div id="2" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Select comparison mode:</div>
    <ul>
      <li>Compare one covariance model against all<br> 
	covariance models in Rfam</li>
      <li>Compare multiple covariance models with<br>
	each other</li> 
    </ul>
    --&gt; For more information see Help 
  </div>
</div>

<div id="3" class="tooltip2" style="width: 400px;">
  <div class="content">
    <div class="head">Select comparison mode:</div>
    <ul>
      <li>Compare one covariance model against all<br> 
	covariance models in Rfam</li>
      <li>Compare multiple covariance models with<br>
	each other</li> 
    </ul>
    --&gt; For more information see Help 
  </div>
</div>

<div style="text-align:left">
  <h2>[% output_title %]</h2>
  <form name="filter" action="cmcws.cgi" method="get">
    <input id="page"  value="2" name="page" type="hidden">
    <input id="mode"  value="[% mode %]" name="mode" type="hidden">
    <input id="tempdir"  value="[% tempdir %]" name="tempdir" type="hidden">
    <input id="result_number"  value="[% result_number %]" name="result_number" type="hidden">
    <table class="resources">
      [% INSERT $result_matrix %]
      <tr>
	<td style="text-align:left;">Covariance model graph: <a href="#" onmouseover="XBT(this, {id:'1'})"><img style="vertical-align:middle;border:solid 0px #000;" src="pictures/info.png" alt="Info"></a></td>
	<td colspan="2"> </td>
	<td> </td>
      </tr>
      <tr>
	<td colspan="4" style="text-align:left;border:solid 1px #000;">
	  <table style="display:none;">
	    <tr><td><img src="[% cm_map %]" alt="Introduction" style="text-align:left;border:0"></td></tr>
	  </table>
	  <p class="demo5 expIco">Show</p>
	</td>
      </tr>
      <tr>
	<td style="text-align:left;">Downloads: </td>
	<td colspan="3"></td>
      </tr>
      <tr>
	<td colspan="2" style="text-align:left;border:solid 1px #000;">-all comparisons:<a href="[% csv_file %]">.csv-file</a>,<a href="[% cm_output_file %]">.output-file</a><br>
	  -filtered comparisons:<a href="[% csv_filtered_file %]">.csv-file</a><br>
	  -covariance model graph:<a href="[% dot_file %]">.dot-file</a>,<a href="[% png_file %]">.png-file</a>
	</td>  
	<td colspan="2"> </td>
      </tr>
      <tr>
	<td style="text-align:left;">Filtering: <a href="#" onmouseover="XBT(this, {id:'1'})"><img style="vertical-align:middle;border:solid 0px #000;" src="pictures/info.png" alt="Info"></a> </td>
	<td colspan="3"  style="border:solid 1px #FFF;"></td>
      </tr>
      <tr>
	[% INSERT $filter_fields %]
      </tr>
    </table>
  </form>
  [% PROCESS $result_list_form_and_table %]
  <br>
</div>

[% INCLUDE footer %]
